{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="signin-form">
        <form method="post">
            <h2>Please sign in</h2>
            <p class="hint-text">You can restore an account by link below</p>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text text-info"><i class="fas fa-user"></i></span>
                </div>
                <input value="{{ last_username }}" name="username" class="form-control" placeholder="Login" required autofocus>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text text-info"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" name="_remember_me" class="custom-control-input" id="customCheck" checked>
                <label class="custom-control-label" for="customCheck">Remember me</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-block btn-primary" type="submit">Sign in</button>
            <a href="{{ path('app_reset_password') }}" class="btn btn-block btn-outline-secondary">Restore account</a>
        </form>
    </div>
{% endblock %}
