{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' 'form/fields.html.twig' %}

{% block title %}Restore an Account{% endblock %}

{% block body %}
    <div class="signin-form">
        {{ form_start(form) }}
            <h2>Please input your email</h2>
            <p class="hint-text">A new password will be sent to your email </p>

            {{ form_row(form.email) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
