{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12">
        {{ form_widget(form) }}
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <button type="submit" class="btn btn-outline-success btn-block"><i class="fas fa-plus-circle"></i> {{ 'L_SEND'|transL }}</button>
    </div>
</div>
{{ form_end(form) }}