{% extends 'base.html.twig' %}

{% block title %}Error activating an Account{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger">Wrong activation hash</div>
    </div>
{% endblock %}