{% extends 'base.html.twig' %}

{% block title %}Register an Account{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-success">Your account is registered. Please confirm link on your email</div>
    </div>
{% endblock %}