{% extends 'base.html.twig' %}

{% block title %}Restore an Account{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-success">New password was sent on the email</div>
    </div>
{% endblock %}