<ul class="list-unstyled">
    {#<li class="py-2"><img class="d-block img-fluid rounded mb-3 mb-md-0" src="//lorempixel.com/600/500" alt=""></li>#}
    {#<li class="pb-2"><img class="d-block img-fluid rounded mb-3 mb-md-0" src="//lorempixel.com/600/600" alt=""></li>#}
    {#<li class="pb-2"><img class="d-block img-fluid rounded mb-3 mb-md-0" src="//lorempixel.com/600/300" alt=""></li>#}
    {#<li class="pb-2"><img class="d-block img-fluid rounded mb-3 mb-md-0" src="//lorempixel.com/600/550" alt=""></li>#}
    {#<li class="pb-2"><img class="d-block img-fluid rounded mb-3 mb-md-0" src="//lorempixel.com/600/350" alt=""></li>#}
</ul>