body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #efefefad;
}

main {
  flex: 1;
}

body {
}

a {
  &:hover {
    text-decoration: none;
  }
}

@import 'helper';
@import 'component';
@import 'login';
@import 'register';

