body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #efefefad;
}

main {
  flex: 1;
}

body {
}

a {
  &:hover {
    text-decoration: none;
  }
}

.user-avatar {
  height: 50px;
}

@import 'helper';
@import 'components';
@import 'login';
@import 'register';
@import 'vendor_customize';

@import 'media/media';
