{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for blog in pagination %}
                <div class="col-md-4">
                    <h4>{{ blog.title }}</h4>
                    <p>{{ blog.content|truncate(100) }}</p>
                    <p><a class="btn btn-secondary" href="{{ path('blog_show', {slug:blog.slug}) }}" role="button">Read more »</a></p>
                </div>
            {% else %}
                <h2>No blogs found</h2>
            {% endfor %}
        </div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
