{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="card p-5 text-center">
        <h1><strong>404</strong> <span class="text-info">{{ 'M_NOT_FOUND'|transM }}</span></h1>
        <hr>
        <h5 class="p-5 text-secondary">{{ 'M_SORRY_PAGE_NOT_FOUND'|transM }}</h5>
    </div>
</div>
{% endblock %}