{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="card p-5 text-center">
        <h1><strong>500</strong> <span class="text-info">{{ 'M_SERVER_ERROR'|transM }}</span></h1>
        <hr>
        <h5 class="p-5 text-secondary">{{ 'M_SORRY_SOME_WRONG'|transM }}</h5>
    </div>
</div>
{% endblock %}