{% extends 'user/_layout.html.twig' %}

{% block title %}User articles{% endblock %}

{% block user_content %}
    <div class="row">
        <div class="col">
            {% include('article/_include/_article_list.html.twig') %}
        </div>
    </div>
{% endblock %}